.swap_page_down {}
.swap_page_up {}

.containerSong {
    height: 150px;
    width: 100%;
}
.appfont {}
.artistname {}
.timesong {}

.center_container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#player_container {
    height: 50%;
    width: 50%;
    border-radius: 50%;
}

img {
    max-width:100%;
}