.swap_page_down {}
.swap_page_up {}

.containerSong {
    height: 150px;
    width: 100%;
}
.appfont {}
.artistname {}
.timesong {}

.center_container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.icon {
    height: 40px;
    width: 40px;
}

#rewind_forward {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#my_canvas {
    position: absolute;
    top: 0;
    right: 0;
}

#main_screen_container {
    height: 100%;
}

#player_container {
    width: 100%;
    position: relative;
}

#img_player {
    padding: 10px;
}

#img_player img {
    border-radius: 50%;
    
    max-width:100%;
}


body, html {height: 100%; }
